# ??????????? LF?Windows ???? core.autocrlf ????????
* text=auto
*.py   text
*.md   text
*.txt  text
*.csv  text
*.tsv  text
*.json text
*.html text
*.iss  text
*.ps1  text
*.spec text
*.toml text
*.sh   text eol=lf
# Windows ?????? CRLF?cmd ?????????????????????
*.bat  -text
# ????????????
*.png  -text
*.jpg  -text
*.jpeg -text
*.ico  -text
*.gif  -text
*.nc   -text
*.npz  -text
*.npy  -text
*.gfc  -text
*.grd  -text
*.exe  -text
